/* Style untuk header */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

header h1, header p {
    margin: 0;
    color: #fff;
}

/* Style untuk main content */
main {
    padding: 50px 0;
}

main h2 {
    color: #fff;
}

/* Style untuk footer */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

footer p {
    margin: 0;
    color: #fff;
}

/* Style untuk card */
.card {
    margin-bottom: 20px;
}

.card-title, .card-text {
    color: #000000;
}

/* Style untuk gambar background */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
